<div class="w-2/3 mx-auto bg-gray-100 px-4 py-3 flex flex-col gap-3 mt-5 rounded-lg drop-shadow-2xl">

<h2 class="mx-auto text-2xl font-bold  text-indigo-500">User Management Form</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">

<div class="flex gap-2">
    <label for="name">Name:</label>
  <input class="ring-[0.5px] px-3 w-2/3 text-2xl" id="name" formControlName="name" type="text" />
</div>
  
  <div class="text-sm text-red-500" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
    Name is required
  </div>

  <div class="flex gap-2 ">
    <label for="email">Email:</label>
    <input class="ring-[0.5px] px-3 w-4/5 text-2xl" id="email" formControlName="email" type="email" />
  </div>
  
  <div class="text-sm text-red-500" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
    A valid email is required
  </div>

  <button class="mx-auto sm:w-1/6 hover:ring ring-black hover:ring-[0.5px] hover:text-white bg-blue-400  my-3 py-2 px-4 " type="submit">{{ isEditMode ? 'Update' : 'Add' }} User</button>
</form>

<h3 class="underline text-xl">Users List</h3>
<div class="flex flex-row gap-3">
    <ul >
        
    <li *ngFor="let user of users" class="grid grid-cols-2 gap-3 my-2 border-b-[0.5px] ">
        <div class="flex gap-2 my-1">
            {{ user.name }} ({{ user.email }})  
        </div>
        <div class="flex gap-3 justify-end">
            <button class="bg-lime-500 px-2" (click)="editUser(user.id)">Edit</button>
            <button class="bg-red-500  px-2" (click)="deleteUser(user.id)">Delete</button>
        </div>
       
    </li>
    </ul>
</div>

</div>

